name: Build Dev Image
on:
  push:
    branches: [main]
    paths: ["Dockerfile"]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v4

      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - run: docker build -t ghcr.io/${{ github.repository }}:latest .
      - run: docker push ghcr.io/${{ github.repository }}:latest
